#top-half-container {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

#checkbox-container {
    background-color: rgb(15, 10, 36);
    display: flex;
    padding-top: 4px;
    padding-bottom: 4px;
}

#checkbox-label {
    font-family:'Consolas';  
    color:aliceblue;
    padding-left: 5px;
    padding-right: 5px;
}

#use-color {
    font-family:'Consolas';  
    background-color: rgb(15, 10, 36);
    color:aliceblue;
}

#custom-color {
    max-height: 20px;
    width: 0px;
    background-color: rgb(15, 10, 36);
    border: none;
    padding-left: 5px;
    visibility: hidden;

    transition: 250ms all linear;
}

#canvas-container {
    overflow:clip;
    background-color: black;
    left:0;
    display: inline-flex;
}

canvas {
    width:100vw;
    height:20%;
    position: relative;
}

#input-container {
    background-color: rgb(15, 10, 36);
}

#input {
    position: relative;
    text-align: center;
    font-family:'Consolas';  
    color:aliceblue;
    font-size:120%;
    width:-webkit-fill-available;
    background-clip: text;
    height:20%;
    resize: none;
    background-attachment:local;
    border: none;
}

#input:focus {
    outline: none !important;
}

#bottom-container {
    position: absolute;
    width:100%;
    left:0;
    bottom:0;
    font-family:'Consolas';
    background-color: rgb(15, 10, 36);
}

#color-selector-table {
    color:aliceblue;
    display:block;
    width: auto;
    overflow-x: auto;
    height: 140px;
    overflow-y: hidden;
}

#spacings-color-selector-table {
    color:aliceblue;
    display:block;
    width: min-content;
    place-self: center;
    overflow-x: auto;
    height: 140px;
    overflow-y: hidden;
}

.color-swatch {
  background-color:rgba(0,0,0,0);
  position:relative;
  top:-90px;
  width:90px;
  height:90px;
  cursor:pointer;
  opacity: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  
}

html {
    background-color: rgb(176, 167, 212);
}