#top-half-container {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

#checkbox-container {
    background-color: rgb(15, 10, 36);
    display: flex;
    padding-top: 4px;
    padding-bottom: 4px;
}

#checkbox-label {
    font-family:'Consolas';  
    color:aliceblue;
    padding-left: 5px;
    padding-right: 3px;
}

#use-color {
    z-index: 1;
    font-family:'Consolas';  
    background-color: rgb(15, 10, 36);
    color:aliceblue;
}

#custom-color {
    max-height: 20px;
    height: 0px;
    width: 0px;
    background-color: rgb(15, 10, 36);
    border: none;
    
    margin-top: 1px;
    margin-left: 5px;
    visibility: hidden;
    opacity: 0;

    transition: 
        all 200ms,
        opacity 100ms;
}

input[type="range"]
{
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
    width: 0px;

    transition: 
        all 200ms,
        opacity 200ms;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: rgb(176, 167, 212);
    height: 3px;
}

input[type="range"]::-moz-range-track {
    background: rgb(176, 167, 212);
    height: 3px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: white;
    margin-top: -6px;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: white;
    margin-top: -6px;
    border-radius: 50%;
}


#canvas-container {
    overflow:clip;
    background-color: black;
    left:0;
    display: inline-flex;
}

canvas {
    width:100vw;
    height:20%;
    position: relative;
}

#input-container {
    background-color: rgb(15, 10, 36);
}

#input {
    position: relative;
    text-align: center;
    font-family:'Consolas';  
    color:aliceblue;
    font-size:120%;
    width:-webkit-fill-available;
    background-clip: text;
    height:20%;
    resize: none;
    background-attachment:local;
    border: none;
}

:focus {
    outline-color: rgb(176, 167, 212);  
    outline-style: solid;
}

#bottom-container {
    position: absolute;
    width:100%;
    left:0;
    bottom:0;
    font-family:'Consolas';
    background-color: rgb(15, 10, 36);
}

#color-selector-table {
    color:aliceblue;
    display:block;
    width: auto;
    overflow-x: auto;
    height: 140px;
    overflow-y: hidden;
}

#spacings-color-selector-table {
    color:aliceblue;
    display:block;
    width: min-content;
    place-self: center;
    overflow-x: auto;
    height: 140px;
    overflow-y: hidden;
}

.color-swatch {
  background-color:rgba(0,0,0,0);
  position:relative;
  top:-90px;
  width:90px;
  height:90px;
  cursor:pointer;
  opacity: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  
}

input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
}

input[type="range"]:focus {
 outline: none;
}

html {
    background-color: rgb(176, 167, 212);
}