#top-half-container {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

#checkbox-container, #side-panel {
    background-color: rgb(15, 10, 36);
    display: flex;
    padding-top: 4px;
    padding-bottom: 4px;
}

#side-panel {
    align-items: center;
    justify-content: center;
}

.checkbox-label {
    font-family:'Consolas';  
    color:aliceblue;
    padding-left: 5px;
    padding-right: 3px;
}

.selection {
    z-index: 1;
    font-family:'Consolas';  
    background-color: rgb(15, 10, 36);
    color:aliceblue;
}

#colormap-select {
    width: 0px;

    visibility: hidden;
    opacity: 0;

    transition: 
        all 200ms,
        opacity 300ms;
}

#custom-color {
    max-height: 18px;
    height: 18px;
    width: 0px;
    background-color: rgb(15, 10, 36);
    border: none;
    
    margin-top: 1px;
    margin-left: 5px;
    visibility: hidden;
    opacity: 0;

    transition: 
        all 200ms,
        opacity 300ms;
}

#download-button {
    background-color: rgb(15, 10, 36);
    color: aliceblue;
    margin-left: auto; 
    margin-right: 8px;
    height: 20px;
    width: 25px;
    border: 1px solid rgb(176, 167, 212);
}

#background-color {
    position: absolute;
    height: 20px;
    width: 25px;
    background-color: black;
    border-color: aliceblue;
}

.switch-label {
    font-family:'Consolas'; 
    font-size: 120%;
    border-bottom: 1px solid rgb(15, 10, 36);
    transition: all 150ms linear;
}

#switch-box {
    background-color: transparent;
    width: 25px;
    margin-left: 8px;
    margin-right: 8px;
}

#switch-box::-webkit-slider-runnable-track {
    background: rgb(176, 167, 212);
    height: 8px;
    border-radius: 5px;
}

#switch-box::-moz-range-track {
    background: rgb(176, 167, 212);
    height: 8px;
    border-radius: 5px;
}

#switch-box::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: aliceblue;
    margin-top: -4px;
    border-radius: 50%;
}

#switch-box::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: aliceblue;
    margin-top: -4px;
    border-radius: 50%;
}


#shade-amount {
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
    width: 0px;

    transition: 
        all 200ms,
        opacity 200ms;
}

#shade-amount::-webkit-slider-runnable-track {
    background: rgb(176, 167, 212);
    height: 3px;
}

#shade-amount::-moz-range-track {
    background: rgb(176, 167, 212);
    height: 3px;
}

#shade-amount::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: aliceblue;
    margin-top: -6px;
    border-radius: 50%;
}

#shade-amount::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: aliceblue;
    margin-top: -6px;
    border-radius: 50%;
}


#canvas-container {
    overflow:clip;
    background-color: black;
    left:0;
    display: inline-flex;
}

canvas {
    width:100vw;
    height:20%;
    position: relative;
}

#input-container {
    background-color: rgb(15, 10, 36);
}

#gradient-decor {
    height:40px;
    background-image: linear-gradient(0deg, rgb(15, 10, 36), rgb(0 0 0));
}

#input {
    position: relative;
    text-align: center;
    font-family:'Consolas';  
    color:aliceblue;
    font-size:120%;
    width:-webkit-fill-available;
    background-clip: text;
    height:20%;
    resize: none;
    background-attachment:local;
    border: none;
}

:focus {
    outline-color: rgb(176, 167, 212);  
    outline-style: solid;
}

#bottom-container {
    position: absolute;
    width:100%;
    left:0;
    bottom:0;
    font-family:'Consolas';
    background-color: rgb(15, 10, 36);
}

.format-options {
    width: 80px;
    height: 91px;
    padding-left: 5px;
    display:grid;
    position: absolute;
    align-items: center;
}

.format-button {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(176, 167, 212);
    border: 1px solid rgb(176, 167, 212);
    cursor:pointer;
    pointer-events: none;
}

#color-selector-table {
    color:aliceblue;
    display:block;
    width: auto;
    overflow-x: auto;
    height: 140px;
    overflow-y: hidden;
}

#spacings-color-selector-table {
    color:aliceblue;
    display:block;
    width: min-content;
    place-self: center;
    overflow-x: auto;
    height: 140px;
    overflow-y: hidden;
}

.color-swatch {
  background-color:rgba(0,0,0,0);
  position:relative;
  top:-90px;
  width:90px;
  height:90px;
  cursor:pointer;
  opacity: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  
}

input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
}

input[type="range"]:focus {
 outline: none;
}

html {
    background-color: rgb(176, 167, 212);
}

.input-button {
    position: relative;
    height: 90px;
    width: 90px;
    top: -180px;
    opacity: 0;
    cursor:pointer;
}